* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%) !important;
}

span {
    color: rgb(0, 152, 152);
}

/*header*/
.head {

    top: 0;
    left: 0;
    width: 100%;
    z-index: 123;

    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%) !important;


    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

.imglg {
    width: 80px !important;
}

.invert {
    border-radius: 220px;
}

.nav-link {
    font-size: 2rem !important;
}



.dropdown-menu {
    background: #03727d
}

a.dropdown-toggle {
    color: #dfdfdf !important
}

a.dropdown-item:hover {
    color: #03727d !important;

}

.nav-item a {
    color: #000000;
    font-size: 1.5rem !important;
    padding-left: 20px;
}

.nav-item a:hover {
    color: #ffffff
}

.nav-item {
    min-width: 12vw;
}

/* btn */
.button-64 {
    align-items: center;
    background-image: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}


#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%) !important;
    padding: 12px;
    position: relative;
}




/*codigo*/




.sectionc {
    display: grid;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.904);

}

.container {
    margin-top: 200px;
    background-color: #ffffff !important;


    margin: 20px;
}

.sobre-mi {
    height: 100px;
    text-align: center;
    margin: 50px;
    margin-bottom: 100px !important;
}

.a {
    box-shadow: 17px -13px 24px 1px;
    border-radius: 19px;
    border: 4px solid #000000;
}

.w {
    width: 200px;

}

.p1 {

    line-height: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px !important;

}

.simple {
    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%) !important;

    margin-bottom: 400px;
    margin-top: 100px;
    width: 900px !important;
    box-shadow: 17px -13px 24px 1px;
    border-radius: 19px;
    border: 4px solid #000000;

    position: relative;
    z-index: 2;
}

.crazy {
    width: 40px !important;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 2rem !important;
}

.logos {
    display: flex;
    justify-content: center;
    margin: 20px;

}

/*btn*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #0e0d0d;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #f8f8f8
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.text {
    color: white;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/*2ndo bnt */
a.ira {
    background: linear-gradient(198deg, rgba(33, 150, 243, 1) 0%, rgba(0, 152, 70, 1) 100%);
    background-color: #000000;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 13px 25px;
    border: 0px solid #000;
    border-radius: 11px;
    display: inline-block;
    box-shadow: -4px 2px 8px -1px #2D2D2D;
    text-shadow: 2px 2px 0px #000000;
}

a.ira:hover {
    background: linear-gradient(198deg, rgba(33, 149, 243, 0.582) 0%, rgba(0, 152, 71, 0.575) 100%);
    ;
    background-color: #515151;
}

a.ira:active {
    transform: scale(0.95);
}

/*codigo*/

.fw-bolder {
    font-weight: bolder !important;
    margin-top: 220px !important;

}

.bkgvid {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 600px;
}

.imgsm {
    display: flex;

    width: 90px;
}

.contsm {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.contpy {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.cv {
    display: flex;
    justify-content: center;
    margin: 40px;
}


.ftopc {
    width: 240px;
    height: 200px;
}


.py {
    width: 150px;

}

.c {
    box-shadow: 17px -13px 24px 1px;
    border-radius: 19px;
    border: 4px solid #000000;
    margin-top: 150px;
}

.d {
    display: flex !important;
    justify-content: center !important;

}

#calc {
    width: 145px;
    align-self: center;
}

#imc {
    width: 223px !important;
    align-self: center;
}

#conver {
    width: 135px;
    align-self: center;
}

#sal {
    width: 240px;
    align-self: center;
}

#eb {
    align-self: center;
    width: 180px;
}

#btnIrArriba {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #007bff00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 20px;
}

.au {
    width: 100px;
}




.tjta {
    width: 290px !important;
    height: 400px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 12px 9px 15px -2px rgba(0, 0, 0, 0.8) !important;
    box-shadow: 12px 9px 15px -2px rgba(0, 0, 0, 0.8) !important;
    border: 5px double #000000 !important;
}

.lgo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c-t {
    margin-top: 60px;
}

.mee {
    margin-top: 200px !important;
}

.swal2-image {
    width: 200px;
}

.swal2-html-container {
    font-size: 1.5rem !important;
}


.btnsb {
    display: flex;
    justify-content: center;

}

.cssbuttons-io-button {
    width: 200px;
    background: rgb(1, 224, 105);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #000000;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin: 80px;
    font-size: 1.7rem;
    width: 500px;
}

.cssbuttons-io-button .icon {
    background: rgb(255, 255, 255);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;

}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.s {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 900px;
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 100px;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #0a0a0a;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #050505;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: rgba(0, 152, 70, 1);
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: rgba(0, 152, 70, 1);
}






/*mediaquery*/



@media only screen and (max-width: 900px) {
    .invert {
        width: 120px;
        display: flex;
        margin-left: 40px;
    }

    .aside {
        display: grid;
        justify-content: center;
    }

    .simple {

        margin-bottom: 300px;
        margin-top: 100px;
        width: 300px !important;
    }

    .card-title {
        font-size: 1.1rem !important;
    }

    .card-text {
        font-size: 1rem !important;
    }

    .bkgvid {
        position: absolute;
        top: 93px;
        height: 500px;

    }

    .b {
        margin-top: 250px;
    }

    .align-middle {
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
    }

    .au {
        width: 40px;
    }

    #btnIrArriba {

        padding: 0px 0px;

    }



    .p1 {

        line-height: 24px;
        font-size: 1rem;


    }

    .a {

        border-radius: 19px;
        border: 2px solid #000000;
    }

    .imgsm {


        width: 60px;
    }

    .fw-bolder {

        font-weight: bolder !important;
        margin-bottom: 13px;

    }

    .imglg {
        width: 50px !important;
    }

    h3 {
        margin-top: 50px !important;
    }

    .text {
        font-size: 1rem;
    }

    .fw {
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin-top: 43px !important;
        border: 5px double #a1d809;
        border-radius: 29px 29px 31px 31px;
    }

    .button-64 span {
        font-size: 0.8rem;
    }

    .py {
        width: 100px;

    }

    .c {
        border-radius: 19px;
        border: 2px solid #000000;
    }

    .contcard {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }



    .cssbuttons-io-button {
        width: 200px;
        font-size: 1rem;
    }



   
    .form-container {
 
        width: 200px;
    }


}